.btn
{
    border: 1px solid transparent;
    border-radius: 0.3em;
    box-shadow: none;
    padding: 1em;
    opacity: 0.8;
    text-transform: uppercase;

    hover: opacity 1.0;

}

.btn.small
{
    font-size: 0.7em;
}

.btn.big
{
    font-size: 1.1em;
}

.btn.black
{
    background-color: #1A237E;
    color: white;
}

.btn.green
{
    background-color: #4CAF50;
    color: white;
    border-color: #4CAF50;
}

.btn.sky
{
    background-color: #00BCD4;
    color: white;
    border-color: #00BCD4;
}

.btn.purple
{
    background-color:  #673AB7;
    color: white;
    border-color:  #673AB7;

}

.btn.border
{
    background-color: transparent;
    color: #1A237E;
    border-color: #1A237E;
}


 
